body {
  margin: 0%;
  padding: 0%;
  background: url(../imagenes/fondo3.jpg);
  background-attachment: fixed;
  background-size: 100% 100%;
}

img {
  width: 100%;
}

h1 {
  color: rgba(7, 6, 6, 0.679);
  font-size: 60px;
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  background: #fff;
  padding: 15px 20px;
  color: #353535;
  font-family: sans-serif;
}

/* navigation-bar */
.navigation-bar__item:hover {
  color: #ce7d35;
  transition: all 0.3s;
}
.navigation-bar__item:hover .navigation-bar__submenu {
  display: block;
  color: rgba(22, 115, 202, 0.679);
  background: #e9e9e9;
  padding: 15px;
  text-decoration: none;
}

.navigation-bar__submenu {
  display: none;
  position: absolute;
  z-index: 100;
}

/* navigation-bar */
/* hero */
.hero {
  width: 100%;
}

.hero__image-container {
  width: 100%;
  max-width: 100%;
  display: inline;
  position: relative;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
}

.hero__text-container {
  text-align: center;
  position: absolute;
  width: 100%;
  margin: auto;
}

.hero__text-highlight {
  color: rgba(228, 16, 16, 0.816);
}

/* hero */
/* content */
.content__product {
  display: flex;
}

.content__left-content {
  height: 100vh;
  overflow: hidden;
  width: 50%;
}

.content__left-content--yellow {
  background: #fdd520c9;
}

.content__left-content--brown {
  background: #dc8709b1;
}

.content__left-content--blue {
  background: #13e1b4b1;
}

.content__title {
  font-size: 60px;
  width: 50%;
  margin: auto;
  margin-bottom: 40px;
  color: rgba(7, 6, 6, 0.96);
  margin-left: 80px;
}

.content__title-highlight--green {
  color: #06ca16;
}

.content__title-highlight--yellow {
  color: rgba(243, 189, 10, 0.796);
}

.content__title-highlight--blue {
  color: rgba(18, 80, 237, 0.823);
}

.content__info {
  font-size: 15px;
  line-height: 30px;
  width: 50%;
  margin: auto;
  margin-left: 80px;
  font-family: Arial, Helvetica, sans-serif;
}

.content__image {
  background-size: cover;
  background-position: center;
  width: 50%;
  height: 100vh;
}

.content__image--nopal {
  background-image: url(../imagenes/TorNopal.jpeg);
}

.content__image--chipotle {
  background-image: url(../imagenes/TorChip.jpg);
}

.content__image--azul {
  background-image: url(../imagenes/tortiazul2.jpg);
}

/* content */