doctype html
html
	head
		meta(charset='UTF-8')
		meta(http-equiv='X-UA-Compatible' content='IE=edge')
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		title Tortillas De Masa
		link(rel='stylesheet' href='style.css')
	body
		nav.navigation-bar
			ul.navigation-bar__list
				li.navigation-bar__item
					| Home
					ul.navigation-bar__submenu
						li.navigation-bar__options Inicio
						li.navigation-bar__options Segunda
				li.navigation-bar__item
					| Empleados
					ul.navigation-bar__submenu
						li.navigation-bar__options Manuel
						li.navigation-bar__options Yafet
						li.navigation-bar__options Lorena
				li.navigation-bar__item
					a.navigation-bar__single-link(href='') music
				li.navigation-bar__item
					| Contactos
					ul.navigation-bar__submenu
						li.navigation-bar__options Email
		.hero.hero--black
			.hero__image-container
				img.hero__image(src='./imagenes/Fondimg.jpg')
				.hero__text-container
					h1.hero__text
						span.hero__text-highlight Tortillas
						|  De Masa y Sabores
		// hero
		// content
		// nopal
		.content
			.content__item
				section.content__product
					.content__left-content.content__left-content--yellow
						h1.content__title
							span.content__title-highlight.content__title-highlight--green Tortilla
							|  De Nopal
						p.content__info
							| Dentro de los beneficios del nopal, está en ser muy bajo en calorías,
							| aportando un total de 22 kcal/ porción (2 piezas o 1 taza), muy buena
							| fuente de fibra dietética (3 gr por porción), contiene polifenoles de
							| poder antioxidante, rico en potasio y con índice glicémico bajo, a esto
							| nos referimos al nopal en su forma original y fresca, para realizar el
							| proceso y crear una tortilla es necesario pasar por procesos de la
							| industria alimentaria. Las tortillas de nopal en realidad no son solo
							| nopal, tienen maíz nixtamalizado, para que adquiera la consistencia de
							| una tortilla, recordando que por ser alto en fibra, sería muy difícil
							| obtener una composición apreciable para el paladar, en promedio cada
							| pieza de tortilla del tamaño de una de “maquina “de nopal aporta 20 kcal,
							| cuando la tortilla de maíz del mismo tamaño contiene 64 kcal, es decir
							| podemos consumir hasta 3 de nopal para obtener la misma energía que la de
							| maíz.
					.content__image.content__image--nopal
			// nopal
			// chipotle
			.content__item
				section.content__product
					.content__left-content.content__left-content--brown
						h1.content__title
							span.content__title-highlight.content__title-highlight--yellow Tortilla
							|  De Chipotle
						p.content__info
							| Ingrediente típico de la cocina mexicana. Este chile se deja madurar
							| hasta enrojecer y secar para obtener su forma con la que se conoce. El
							| chile chipotle, también conocido como chile meco, ya se utilizaba desde
							| la época pre-hispánica y su sabor es muy bueno y picante. Su nombre
							| procede del náhuatl chilpoctli o xipoctli, que significa "chile ahumado".
					.content__image.content__image--chipotle
			// chipotle
			// maiz azul
			.content__item
				section.content__product
					.content__left-content.content__left-content--blue
						h1.content__title
							span.content__title-highlight.content__title-highlight--blue Tortilla
							|  De Maiz Azul
						p.content__info
							| Ingrediente típico de la cocina mexicana. Este chile se deja madurar
							| hasta enrojecer y secar para obtener su forma con la que se conoce. El
							| chile chipotle, también conocido como chile meco, ya se utilizaba desde
							| la época pre-hispánica y su sabor es muy bueno y picante. Su nombre
							| procede del náhuatl chilpoctli o xipoctli, que significa "chile ahumado".
					.content__image.content__image--azul