doctype html
head
		meta(charset='UTF-8')
		meta(http-equiv='X-UA-Compatible' content='IE=edge')
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		title Tortillas De Masa
		link(rel='stylesheet' href='style.css')
body
		//- navigation-bar
		nav.navigation-bar
				ul.navigation-bar__list
						li.navigation-bar__item
								| Home
								ul.navigation-bar__submenu
										li.navigation-bar__options Inicio
										li.navigation-bar__options Segunda
						li.navigation-bar__item
								| Empleados
								ul.navigation-bar__submenu
										li.navigation-bar__options Manuel
										li.navigation-bar__options Yafet
										li.navigation-bar__options Lorena
						li.navigation-bar__item
								a.navigation-bar__single-link(href='') music
						li.navigation-bar__item
								| Contactos
								ul.navigation-bar__submenu
										li.navigation-bar__options Email
		//- navigation-bar
		//- hero
		.hero.hero--black
				.hero__image-container
						img.hero__image(src='./imagenes/Fondimg.jpg')
						.hero__text-container
								h1.hero__text
										span.hero__text-highlight Tortillas
										|  De Masa y Sabores
		// hero
		// content
		// nopal
		.content
				.content__item
						section.content__product
								.content__left-content.content__left-content--yellow
										h1.content__title
												span.content__title-highlight.content__title-highlight--green
														| Tortilla
												|        De Nopal
										p.content__info
												| Dentro de los beneficios del nopal, est&aacute; en ser muy bajo en calor&iacute;as,
												| aportando un total de 22 kcal/ porci&oacute;n (2 piezas o 1 taza), muy buena
												| fuente de fibra diet&eacute;tica (3 gr por porci&oacute;n), contiene polifenoles de
												| poder antioxidante, rico en potasio y con &iacute;ndice glic&eacute;mico bajo, a esto
												| nos referimos al nopal en su forma original y fresca, para realizar el
												| proceso y crear una tortilla es necesario pasar por procesos de la
												| industria alimentaria. Las tortillas de nopal en realidad no son solo
												| nopal, tienen ma&iacute;z nixtamalizado, para que adquiera la consistencia de
												| una tortilla, recordando que por ser alto en fibra, ser&iacute;a muy dif&iacute;cil
												| obtener una composici&oacute;n apreciable para el paladar, en promedio cada
												| pieza de tortilla del tama&ntilde;o de una de &ldquo;maquina &ldquo;de nopal aporta 20 kcal,
												| cuando la tortilla de ma&iacute;z del mismo tama&ntilde;o contiene 64 kcal, es decir
												| podemos consumir hasta 3 de nopal para obtener la misma energ&iacute;a que la de
												| ma&iacute;z.
								.content__image.content__image--nopal
				// nopal
				// chipotle
				.content__item
						section.content__product
								.content__left-content.content__left-content--brown
										h1.content__title
												span.content__title-highlight.content__title-highlight--yellow Tortilla
												|        De Chipotle
										p.content__info
												| Ingrediente t&iacute;pico de la cocina mexicana. Este chile se deja madurar
												| hasta enrojecer y secar para obtener su forma con la que se conoce. El
												| chile chipotle, tambi&eacute;n conocido como chile meco, ya se utilizaba desde
												| la &eacute;poca pre-hisp&aacute;nica y su sabor es muy bueno y picante. Su nombre
												| procede del n&aacute;huatl chilpoctli o xipoctli, que significa &quot;chile ahumado&quot;.
								.content__image.content__image--chipotle
				// chipotle
				// maiz azul
				.content__item
						section.content__product
								.content__left-content.content__left-content--blue
										h1.content__title
												span.content__title-highlight.content__title-highlight--blue Tortilla
												|        De Maiz Azul
										p.content__info
												| Ingrediente t&iacute;pico de la cocina mexicana. Este chile se deja madurar
												| hasta enrojecer y secar para obtener su forma con la que se conoce. El
												| chile chipotle, tambi&eacute;n conocido como chile meco, ya se utilizaba desde
												| la &eacute;poca pre-hisp&aacute;nica y su sabor es muy bueno y picante. Su nombre
												| procede del n&aacute;huatl chilpoctli o xipoctli, que significa &quot;chile ahumado&quot;.
								.content__image.content__image--azul
		// maiz azul
		// content
